<header>
    <div class="header">
        <h2>JORDITO'S MALL</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/clientes">Clientes</a></li>
                <li><a href="/cadastro-produto">Produtos</a></li>
                <li><a href="/Showlogin">Login</a></li>
            </ul>
        </nav> 
    </div>
    <hr>
</header>
