<%- include('layouts/header') %>
<body id="home">
<%- include('layouts/navbar') %>
    <main>
        <section>
            <div class="cards">
                <div class="card">
                    <div class="imgCard">
                        <img src="/img/carrinho.png" alt="Carrinho">
                    </div>
                    <h2>CAIXA</h2>
                </div>
                <div class="card">
                    <div class="imgCard">
                        <img src="/img/caixas.png" alt="Carrinho">
                    </div>
                    <h2>ESTOQUE</h2>
                </div>
            </div>

            <div class="homeIcon">
                <img src="/img/homeIcon.png" alt="">
            </div>
        </section>
    </main>
</body>
<%- include('layouts/footer') %>