#formCadProd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.108);
    background-image: linear-gradient(-45deg, rgb(235, 248, 255), rgb(255, 235, 255), rgb(253, 255, 232));
}
#formsProd{
    display: flex;
    gap: 10px;
    align-items: center;
}
#formsProd input{
    width: 200px;
}
#formsProd select{
    width: 200px;
}

.btnEditar{
    width: 120px;
    padding: 10px;
    text-align: center;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
.btnApagar{
    width: 120px;
    padding: 10px;
    text-align: center;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#produtos section{
    width: 100%;
}
#produtos table{
    width: 100%;
}
#listaProd{
    width: 100%;
    overflow-x: scroll;
}

.formSeparador{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}
